body {
    
	font-family: 'Ubuntu', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
		background: rgb(77,189,253);
background: -moz-linear-gradient(90deg, rgba(77,189,253,1) 0%, rgba(56,143,218,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(77,189,253,1) 0%, rgba(56,143,218,1) 100%);
background: linear-gradient(90deg, rgba(77,189,253,1) 0%, rgba(56,143,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dbdfd",endColorstr="#388fda",GradientType=1);
	color: #fff;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}
h1.med {
	font-size: 37px;
}
h1.big {
	font-size: 59px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	

}
.palm { background-color: #fff; }
.container {
	width: 1170px;
	margin: 0 auto;
	justify-content: space-between;
}
h2.forward {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #000;
}
.header, .logo {

	padding-top: 53px ;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	margin: 90px auto
}

.offer {
	margin-top: 176px;
	width: 490px;
}
.intro {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	line-height: 27px;
	color: #fff;
	width: 390px;
	
}
.desc {	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	line-height: 27px;
	color: #000;
	
	text-align: center;
}
.title {
	font-size: 36px;
}

.title span {
	color: #48ed8e;
}

.offer {
	
	margin-top: 90px;
	width: 380px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	font-size: 15px;
	color: #000;
    display: block;
	width: 222px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}
.btn2 {

font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	font-size: 15px;
	color: #000;
    display: block;
	
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	width:  300px;}
.btn:hover {
	background: #d9860e;
}

.desktop {
	margin-top: 37px;
}

.learn {
	padding-top: 108px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.skill {
	width: 350px;
	background: url('../img/icon1.jpg') no-repeat left top;
	padding-left: 100px;
}

.skill-title {
	font-size: 18px;
}

.skill-text {
	margin-top: 7px;
}

.skill-free {
	width: 380px;
	background: url('../img/icon2.jpg') no-repeat left top;
}

.skill-change {
	background: url('../img/icon3.jpg') no-repeat left top;
}

.mail {
	background: #efecf4;
	padding-top: 173px;
	padding-bottom: 190px;
}

.form {
	
	    display: flex;
    flex-direction: column;
    align-items: center;
}
	.input {
	    width: 340px;
    
    margin-bottom: 20px;
    padding left: 20px;
    border: 2px solid #999A9D;
    font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	line-height: 27px;
	color: #000;
	width: 298px;
	}
.form2 {
 text-align: left !important;
 padding-left: 300px;
 margin-right: 300px;
}

.btn-form {
	border: 0;
	cursor: pointer;
	display: inline;
	margin-left: 11px;
}

.footer {
	padding: 33px 0;
	background: #164d7a;
	text-align: center;
}

.credits {
	color: #d4cee3;
	font-size: 14px;
	margin: 0;
}
.palm {background: #fff !important;
padding-bottom: 90px;}
.forward {
	padding: 90px ;
	text-align: center;}

	p.free {
		
		display: flex;
font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
		color: #000 !important;
		margin-left: 109px;
	}
	.icon {
		margin-left: 164px;
	}