body {
    
	font-family: 'Ubuntu', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
		background: rgb(77,189,253);
background: -moz-linear-gradient(90deg, rgba(77,189,253,1) 0%, rgba(56,143,218,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(77,189,253,1) 0%, rgba(56,143,218,1) 100%);
background: linear-gradient(90deg, rgba(77,189,253,1) 0%, rgba(56,143,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4dbdfd",endColorstr="#388fda",GradientType=1);
	color: #fff;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}
h1.med {
	font-size: 37px;
}
h1.big {
	font-size: 59px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.palm { background-color: #fff; }
.container {
	width: 1170px;
	margin: 0 auto;
}
h2.forward {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #000;
}
.header, .logo {

	padding-top: 53px ;
}

.wrapper {
	display: flex;
	/*justify-content: space-between;*/
}

.offer {
	margin-top: 176px;
	width: 490px;
}
.intro {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
}
.title {
	font-size: 36px;
}

.title span {
	color: #48ed8e;
}

.offer {
	
	margin-top: 90px;
	width: 380px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	color: #000;
	font-size: 15px;
	display: block;
	width: 222px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #d9860e;
}

.desktop {
	margin-top: 72px;
}

.learn {
	padding-top: 108px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.skill {
	width: 350px;
	background: url('../img/icon1.jpg') no-repeat left top;
	padding-left: 100px;
}

.skill-title {
	font-size: 18px;
}

.skill-text {
	margin-top: 7px;
}

.skill-free {
	width: 380px;
	background: url('../img/icon2.jpg') no-repeat left top;
}

.skill-change {
	background: url('../img/icon3.jpg') no-repeat left top;
}

.mail {
	background: #efecf4;
	padding-top: 173px;
	padding-bottom: 190px;
}

.form {
	margin-top: 40px;
}

.input {
	width: 474px;
	border: 1px solid #bfb8d1;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 100px;
	height: 54px;
	padding-left: 38px;
}

.btn-form {
	border: 0;
	cursor: pointer;
	display: inline;
	margin-left: 11px;
}

.footer {
	padding: 33px 0;
	background: #201b2d;
}

.credits {
	color: #d4cee3;
	font-size: 14px;
	margin: 0;
}
